# Dependencias
node_modules/
.pnp
.pnp.js

# Build Angular
dist/
.angular/cache/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/